aside {
    gap: 5px;
    right: 20px;
    bottom: 30px;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
   
  }
  
  aside a{
    width: 80px;
    height: 80px;
    font-size: 0;
    border-radius: 50%;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  aside .more{
    background-color: #FFCEDF;
    background-image: url(../img/plus.svg);
  }
  
  aside .top{
    background-size: 100%;
    background-color: #D1EFFF;
    background-image: url(../img/top.svg);
  }