body{
  padding-left: 200px;
}

header{
  top: 0px;
  z-index: 1;
  position: fixed;
  padding-bottom: 20px;
  width: 200px;
  height: 100%;
  background-color: #eee;
  left: 0;
}

header h1{
  font-size: 20px;
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

header h1 a{
  font-size: 0;
  display: flex;
  justify-content: center;
}

header h1 a::before{
  content: ""; 
  width: 50%;
  height: 20px;
  margin-right: 35px;
  display: inline-block;
  vertical-align: -20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/Logo.svg);
}
header ul{
}

header ul:nth-of-type(1){  
  order: 2;
}

header ul:nth-of-type(2){  
  order: 3;
}

header ul li{  
  line-height: 2;
  padding: 4px 55px;
}

li{   

}

header div{ /* header 안의 div : 하위 선택자 */
  font-size: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
}

a.cart{ 
  width: 20px;
  height: 20px;
  font-size: 0;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/cart.svg);
}

a.user{
  width: 20px;
  height: 20px;
  font-size: 0;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/user.svg);
}

header div form{
  right: 0;
  top: -40px;
  display: flex;
  padding: 5px 15px;
  border-radius: 17.5px;
  background-color: azure;
  order: 1;
}

header div form input{ 
  border: none;
  background-color: azure; 
}

header button.search{
  width: 20px;
  height: 20px;
  border: none;
  font-size: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(../img/search.svg);
  display: block;
}

/*     타이틀 영역     */
div#title{
  height: 800px;
  position: relative;
  background-size: cover;
  background-color: #4BC4FA;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/title.jpg);
}

div#title div.wrap{
  height: 100%;
  display: flex;
  position: relative;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

div#title div.wrap ul.hash{
  gap: 20px;
  color: black;
  display: flex;
  margin-bottom: 24px;
}

div#title div.wrap h2{
  font-size: 56px;
  color: darkblue;
  margin-bottom: 40px;
  text-shadow: 2px 2px 5px darkgray;
  font-family: 'Noto Serif KR', serif;
}

div#title div.wrap p{
  line-height: 1.4;
  margin-bottom: 20px;
}

div#title div.wrap>a{
  color: white;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s;
  display: inline-block;
  background-color: black;
}

div#title div.wrap>a:hover{
  color: black;
  background-color: white;
  transform: scale(2) rotate(1440deg);
}

#title .wrap .control{
  left: 0;
  width: 100%;
  display: flex;
  position: absolute;
  /*! top: calc(50% - 9px); */
  justify-content: space-between;
}

#title .wrap .control button{
 
}

#title .wrap .control .prev{  
  transform: translateX(-200%);
}

#title .wrap .control .next{  
  transform: translateX(-200%);
}

div#title div.wrap ul.list{
  gap: 4px;
  color: white;
  bottom: 25px;
  padding: 12px;
  display: flex;
  width: 1410px;
  position: absolute;
  left: calc(50% - 705px);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
 
}

div#title div.wrap ul.list a{
  color: white;
  line-height: 3;
  display: block;
  padding: 0 10px;
}

div#title div.wrap ul.list a:nth-child(1){
  
}

div#title div.wrap ul.list a:hover{
  color: lightblue;
}

/* 메인 */
main { 
  
}

main #product {
 
}

main #product .wrap {
  row-gap: 40px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  justify-content: center;
 
}

main #product .wrap ul.list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

main #product .wrap ul.list li {
  
}

main #product .wrap ul.list li a {
  line-height: 3;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}
main #product .wrap ul.list li a:nth-child(1){
  border-bottom: 5px solid darkblue;
}
main #product .wrap ul.list li a:hover{
  color:lightblue ;
}

main #product .wrap div.jemok {
  background-size: cover;
  background-position: center;
  background-image: url(../img/je1.png);
}
main #product .wrap div.jemok a { 
  height: 100%;
  row-gap: 20px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 0 50px 0 50px;
  
}
main #product .wrap div.jemok h3 {
  font-size: 20px;
}
main #product .wrap div.jemok p {
  line-height: 1.5;
  margin-bottom: 20px;
  /*! padding: 0 50px 0 50px; */
}
main #product .wrap ul.contents {
  row-gap: 40px;
  width: 980px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}
main #product .wrap ul.contents li {
  
}
main #product .wrap ul.contents li:nth-child(1){
  background-image: url(../img/je2.png);
}

main #product .wrap ul.contents li:nth-child(2){
  background-image: url(../img/je3.png);
}

main #product .wrap ul.contents li:nth-child(3){
  background-image: url(../img/je4.png);
}

main #product .wrap ul.contents li a{
  height: 100%;
  row-gap: 20px;
  display: flex;
  padding-bottom: 20px;
  justify-content: end;
  flex-direction: column;
  box-sizing: border-box;
}
main #product .wrap ul.contents li h4 {
  line-height: 1.5;
}
main #product .wrap ul.contents li h4 span {
 
}
main #product .wrap ul.contents li p {  
  color: blue;
}

/* 모바일 & PC , TV & 오디오 */
#mobile,#tv{
  line-height: 1.6;
}

#mobile .wrap,#tv .wrap{
  overflow: hidden;
  padding: 60px 0;
  background-color: #F9F9F9;
}
#mobile h2{
 
}

#mobile ul.list,#tv ul.list{
  margin: 20px 0 30px 0;
}

#mobile div.contents{
  width: 400%;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

#tv div.contents{
  width: 500%;
  height: 810px;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

#mobile div.contents article,#tv div.contents article{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#mobile div.contents article figure{
  width: 680px;
  margin: 30px 0;
}

#mobile div.contents article h3{
}

#mobile div.contents article p{
  line-height: 3;
}

#mobile div.contents article a{
}

#mobile div.contents article figure img{
  width: 100%;
  border-radius: 30px;
  background-color: #EEEEEE;
}

#mobile div.contents article figure figcaption{
}

/* TV & 오디오 */
#tv .wrap{
  padding: 0;
  color: white;
  position: relative;
}

#tv .h2{
  top: 30px;
  width: 100%;
  position: absolute;
}

#tv ul.list{
  top: 70px;
  width: 100%;
  position: absolute;
}

#tv ul.list a{
  color: white;
}

#tv div.contents article{
  justify-content: end;
  padding-bottom: 50px;
  background-size: cover;
  background-position: center;
}

#tv div.contents article:nth-child(1){
  background-image: url(../img/tv1.jpg);
}

#tv div.contents article:nth-child(2){
  background-image: url(../img/tv2.jpg);
}

#tv div.contents article:nth-child(3){
  background-image: url(../img/tv3.jpg);
}

#tv div.contents article:nth-child(4){
  background-image: url(../img/tv4.jpg);
}

#tv div.contents article:nth-child(5){
  background-image: url(../img/tv5.jpg);
}

#tv div.contents article a{
  color: white;
}

/* footer */
footer {
}

footer div.wrap{
  width: auto;
}

footer .wrap .full {
  margin-bottom: 50px;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

footer .wrap .fnb {
  /*! flex-wrap: wrap; */
  width: 1440px;
  margin: 0 auto;
  height: 370px;
  position: relative;
}

footer .wrap .fnb>li {
  width: calc(100% / 6);
  box-sizing: border-box;
  padding: 30px 0 30px 20px;
  border-left: 1px solid #777;
}

footer .wrap .fnb>li:first-child{
  width: calc(100% / 6 * 2);
}

footer .wrap .fnb>li:nth-child(6){
  top: 160px;
  position: absolute;
  left: calc(100% / 6 * 4);
}

footer .wrap .fnb>li:last-child{
  top: 160px;
  position: absolute;
  left: calc(100% / 6 * 5);
}

footer .wrap .fnb li h2 {
  margin-bottom: 20px;
}

footer .wrap .fnb li .sub { 
}

footer .wrap .fnb li .sub li {  
}

footer .wrap .fnb li .sub li a {
  line-height: 1.8;
  display: block;
}

footer .wrap address {
  line-height: 2;
  font-style: normal;
}

footer .wrap address a {
}

footer .wrap p {
  line-height: 1.6;
}

footer .wrap .wcopyright{
  margin: 35px 0;
}

footer .wrap .wcopyright p{
  line-height: 5;
}